<div class="container">
    <header></header>
    <main class="pm-container">
        <ul class="todo-ul-left pm-left">
            <li ng-show="bShowEditor">
                <input class="achieveTime-input" type="text" ng-model="achieveTime">
            </li>
            <todo-li-left ng-repeat="todo in list | filter: beShowed track by $index"></todo-li>
            </ul>
        <ul class="todo-ul-right pm-right">
            <li ng-show="bShowEditor">
                <input class="detail-input" type="text" ng-model="tempDetail">
            </li>
            <todo-li-right ng-repeat="todo in list | filter: beShowed track by $index"></todo-li>
        </ul>
    </main>
    <footer>
        <div class="menu showEditor-btn" ng-hide="bShowEditor" ng-click="showEditor()"></div>
        <div class="true add-btn" ng-show="bShowEditor" ng-click="add()"></div>
    </footer>
    <!-- <div class="add">
        内容：
        <br>
        时间：
        <button class="add-btn" ng-click="add()">增加</button>
    </div> -->
</div>